<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form 
    method="POST" 
    action="/todos/<%= todo_to_edit.id %>?_method=PUT">
        Edit the todo name:<br>
        <input name="usertodo" >
        <button>Edit</button>
    </form>
</body>
</html>