<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: <%= team.color %>">
    <!-- team = the team we selected -->
    <h1><%= team.name %></h1>
    <form action="/teams/<%= team.id %>?_method=PUT" method="POST">
      <label>Update Name</label>
      <input type="text" name="name" />
      <button type="submit">Update</button>
    </form>
    <a href="/teams">Go Back</a>
  </body>
</html>
